body {
    margin: 0;
    background: darkgreen;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonesVerticales {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background: greenyellow;
}

#carroCanvas {
    background: lightgreen;
}

#networkCanvas {
    background: black;
}

#inputs {
    width: 30%;
    height: 50px;
    /* centrado vertical */
    top: 50%;
}
